{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "header">
        <img id="devlant_img" src="{% static 'img/devlant.png' %}" />

        <div class="mainImg">
            <img id="mainImg" src="{% static 'img/gradusmu.png' %}" />
        </div>
    </div>

    <div class="line"></div>

    

</body>

<style>
    
    #devlant_img {
        float: left;
        margin-top : -50px;
    }

    .header {
        width:100%;
        height: 200px;
    }

    .mainImg {
        text-align: center;
    }

    #mainImg {
        width: 400px;
        height: 50px;
        margin-top: 30px;
    } 

    .line {
        width: 100%;
        height: 2px;
        background-color: gray;
    }


</style>

</html>