<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "header">
        <img id="devlant_img" src="{% static 'img/devlant.png' %}" alt="">

        <div class="mainImg">
            <img id="mainImg" src="{% static 'img/gradusmu.png' %}" />
        </div>
    </div>

    <div class="line"></div>

    {% block content %}
    {% endblock %}

</body>

<style>
    

</style>

</html>