{% load static %}
<div class="header">
    <img id="devlant_img" src="{% static 'img/devlant.png' %}" alt="">

    <div class="mainImg">
        <img id="mainImg" src="{% static 'img/gradusmu.png' %}" />
    </div>
</div>
{% if user.is_authenticated %}
    <p>1</p>
{% endif %}
<div class="line"></div>

<style>
    .header {
        width: 100%;
        margin: auto;
        height: 150px;
    }

    .mainImg {
        margin: auto;
        text-align: center;
        ;
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: gray;
    }
</style>