{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradusmu</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <div class="mainBody">
        <div class="mainImg">
            <img id="mainImg" src="{% static 'img/gradusmu.png' %}" />
        </div>
        <div class="logoutBtn">
            <button type="button" class="loginBtn">LOGOUT</button>
        </div>
        <div class="profileBody">
            <div class="profileContentBody">
                <div class="profileName">
                    <div id="profileName">{{user.name}}</div>
                    <div class="profileDepartmentWrap">(<div id="profileDepartment">{{user.dept}}</div>)</div>
                </div>
                <div class="profileNotName">
                    <div class="profileNotNameWrap">
                        <div class="profileImg">
                            <img src="{% static 'img/person.png' %}" />
                            <button type="button" class="editProfileImgBtn">프로필 사진 편집</button>
                        </div>
                        <div class="profileContentWrap">
                            <button type="button" class="editProfileContentBtn" onclick="location.href = '{% url 'profile' %}'">수정하기</button>
                            <div class="profileContent">
                                <div>입학 : 20{{user.student_num}}</div>
                                <div>학년 : {{user.grade}}</div>
                                <div>학부 : {{user.universe}}</div>
                                <div>전공분류 : {{user.dept_type}}</div>
                                <div>다전공/부전공 : {{user.second_universe}}/{{user.second_dept}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="profileGraph">
                        <div class="majorScore">전공 51</div>
                        <div class="cultureScore">교양 35</div>
                        <div class="pie-chart">
                            <span class="center">취득학점<br>86</span>
                        </div>
                        <button type="button" class="detailScoreBtn">학점상세</button>
                    </div>
                </div>
            </div>
            <div class="selecBasicInformation">
                <select id="select1">
                    <option>전공</option>
                    <option>교양</option>
                </select>
                <select id="select2">
                    <option>전심</option>
                    <option>전선</option>
                    <option>교필</option>
                    <option>교선</option>
                </select>
                <select id="select3">
                    <option>1학년1학기</option>
                    <option>1학년2학기</option>
                    <option>2학년1학기</option>
                    <option>2학년2학기</option>
                    <option>3학년1학기</option>
                    <option>3학년2학기</option>
                    <option>4학년1학기</option>
                    <option>4학년2학기</option>
                </select>
            </div>
            <div class="subjectTable">
                <table>
                    <thead>
                        <td>과목명</td>
                        <td>학수번호(분반)</td>
                        <td>담당교수</td>
                        <td>취득학점</td>
                        <td>삭제</td>
                        <td>상세정보</td>
                    </thead>
                    <tbody>
                        <tr class="tbodyTr">
                            <td>소프트웨어공학</td>
                            <td>HAEA0009-1</td>
                            <td>함혁수</td>
                            <td>3(설계)</td>
                            <td><button type="button" class="deleteSubjectBtn">삭제하기</button></td>
                            <td><button type="button" class="detailSubjectBtn">상세정보</button></td>
                        </tr>
                        <tr class="tbodyTr">
                            <td>소프트웨어공학</td>
                            <td>HAEA0009-1</td>
                            <td>함혁수</td>
                            <td>3(설계)</td>
                            <td><button type="button" class="deleteSubjectBtn">삭제하기</button></td>
                            <td><button type="button" class="detailSubjectBtn">상세정보</button></td>
                        </tr>
                        <tr class="tbodyTr">
                            <td>소프트웨어공학</td>
                            <td>HAEA0009-1</td>
                            <td>함혁수</td>
                            <td>3(설계)</td>
                            <td><button type="button" class="deleteSubjectBtn">삭제하기</button></td>
                            <td><button type="button" class="detailSubjectBtn">상세정보</button></td>
                        </tr>
                        <tr class="tbodyTr">
                            <td>소프트웨어공학</td>
                            <td>HAEA0009-1</td>
                            <td>함혁수</td>
                            <td>3(설계)</td>
                            <td><button type="button" class="deleteSubjectBtn">삭제하기</button></td>
                            <td><button type="button" class="detailSubjectBtn">상세정보</button></td>
                        </tr>
                        <tr class="tbodyTr">
                            <td>소프트웨어공학</td>
                            <td>HAEA0009-1</td>
                            <td>함혁수</td>
                            <td>3(설계)</td>
                            <td><button type="button" class="deleteSubjectBtn">삭제하기</button></td>
                            <td><button type="button" class="detailSubjectBtn">상세정보</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="addSubjectBtn">
            <button type="button">과목 추가</button>
        </div>
    </div>
</body>
</html>