{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraduSMU</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/inform.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        var grade = "{{user.grade}}";
        var universe = "{{user.universe}}";
        var dept = "{{user.dept}}";
        var dept_type = "{{user.dept_type}}";
        var second_universe = "{{user.second_universe}}";
        var second_dept = "{{user.second_dept}}";
        var user_id = "{{user.id}}"
     </script>
</head>
<body>
    <body>
        
        {% include "header.html" %}
        {% block content %}

        <div class="wrapper">
            <form id ="modifying_form" name="modifying_form" method = "post" action = "{% url 'settings' %}">
                {% csrf_token %}
                <div class="box1">
                    <div class="name"> 이름
                        <input id="name" name="name"  type="text" value="{{user.name}}">
                        <div id="nameError" class="error"></div>
                    </div>

                    <div class="email"> Email
                        <input id="email" name="email" type="text" value="{{user.email}}">
                        <div id="emailError" class="error"></div>
                    </div>
                </div>
                
                <div class="classInform">
                    <div class="grade"> 학년
                        <select id="grade" name="grade">
                            <option selected disabled>선택</option>
                            <option value = "1">1학년</option>
                            <option value = "2">2학년</option>
                            <option value = "3">3학년</option>
                            <option value = "4">4학년</option>
                        </select>
                    </div>

                    <div class="classNum"> 학번
                        <input id="classNum" name="student_num" type="text" value="{{user.student_num}}">
                    </div>

                    <div class="classDepart">
                        <select id="classDepart" name="universe" onchange="categoryChange(this)">
                            <option selected disabled>대학 선택</option>
                            <option value = "인문사회과학대학">인문사회과학대학</option>
                            <option value = "사범대학">사범대학</option>
                            <option value = "경영경제대학">경영경제대학</option>
                            <option value = "융합공과대학">융합공과대학</option>
                            <option value = "문화예술대학">문화예술대학</option>
                        </select>
                    </div>

                    <div class="classMajor">
                        <select id="classMajor" name="dept">
                            <option selected disabled>학부/학과 선택</option>
                        </select>
                    </div>
                    <div id="classInformError" class="error"></div>
                </div>

                <div class="line"></div>
                

                <div class="password"> * 비밀번호 <br>
                    <div class="pwdModifying">
                        <button type="button" id="pwdModifyingButton" onclick="pwdFormOn()">수정</button>
                    </div>
                    
                    <div class="changePwd" id="changePwd">
                        <input id="presentPwd" type="password" placeholder="현재 비밀번호를 입력해 주세요.">
                            <div id="passwordError" class="error"></div>

                        <input id="NewPwd" type="password" placeholder="수정 비밀번호를 입력해 주세요.">
                            <div class="passwordCheck">
                                <input id="NewPwdCheck" type="password" placeholder="수정 비밀번호를 다시 입력해 주세요.">
                                <div id="passwordCheckError" class="error"></div>  
                            </div>
                        <div class="pwdModifying">
                            <button type="button" id="pwdModifyingButton" onclick="updatePwd()">비밀번호 수정하기</button>
                        </div>
                    </div>
                </div>

                <div class="line" id="line"></div>

                <div class="box2">
                    <div class="select" id="dept_type"> 전공분류
                        <input type="radio" id="select" name="dept_type" value="전공심화" checked="checked"><label for="select">전공심화</label>
                        <input type="radio" id="select2" name="dept_type" value="복수전공"><label for="select2">복수전공</label>
                        <input type="radio" id="select3" name="dept_type" value="부전공"><label for="select3">부전공</label>
                    </div>

                    <div class="plusMajor" id="plusMajor">
                        <div class="classDepart">
                            <select id="plus_classDepart" name="second_universe" onchange="categoryChange_plus(this)">
                                <option selected disabled> 대학 선택 </option>
                                <option value = "인문사회과학대학">인문사회과학대학</option>
                                <option value = "사범대학">사범대학</option>
                                <option value = "경영경제대학">경영경제대학</option>
                                <option value = "융합공과대학">융합공과대학</option>
                                <option value = "문화예술대학">문화예술대학</option>
                            </select>
                        </div>

                        <div class="classMajor">
                            <select id="plus_classMajor" name="second_dept">
                                <option selected disabled> 학부/ 학과 선택</option>
                            </select>
                        </div>
                        <input type = "submit" id ="submit" style = "display:none;">
                    </div>
                </div>
                    
            </form>

            <div class="warp" id="submitWarp">
                <p>상기에 입력한 정보대로 수정하시겠습니까?</p>
                <div class="modifying_Submit">
                    <button id="modifying_Submit" type="button" onclick="modifyingCheck()">수정하기</button>
                </div>
            </div>

        </div>

        {% endblock %}

    <script src="{% static 'js/inform.js' %}"></script>

</body>
</html>
