{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradusmu</title>
    <link rel="stylesheet" href="{% static 'css/scoreDetail.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    {% include "header.html" %}
    <div class="scoreDetailBody">
        <div class="scoreDetailContent">
            <div class="userName">
                <div id="user_name">{{user.name}}</div>
                <div class="userDepartmentWrap">(<div id="userDepartment">{{user.dept}}</div>)</div>
            </div>

            <div class="totalScoreWrap">
                <h3>총 학점</h3>
                <div class="totalScoreGraphWrap" onclick="location.href='{% url 'scoreGraphDetail' %}'">
                    <div class="totalScoreGraph"></div>
                </div>
                <h3 id="totalScoreFraction">{{user.total_points}}/130</h3>
            </div>

            <div class="majorScoreWrap">
                <h3>전공</h3>
                <div class="majorScoreGraphWrap" onclick="location.href='{% url 'scoreGraphDetail' %}'">
                    <div class="majorScoreGraph"></div>
                </div>
                <h3 id="majorScoreFraction">{{user.major_points}}/67<br>(전선{{user.choice_major_points}}+전심{{user.deep_major_points}})</h3>
            </div>

            <div class="majorScoreWrap">
                <h3>전공선택</h3>
                <div class="majorScoreGraphWrap" onclick="location.href='{% url 'scoreGraphDetail' %}'">
                    <div class="majorScoreGraph"></div>
                </div>
                <h3 id="majorScoreFraction">{{user.major_points}}/67<br>(전선{{user.choice_major_points}}+전심{{user.deep_major_points}})</h3>
            </div>

            <div class="deepMajorScoreWrap">
                <h3>*전공심화</h3>
                <div class="deepMajorScoreGraphWrap" onclick="location.href='{% url 'scoreGraphDetail' %}'">
                    <div class="deepMajorScoreGraph"></div>
                </div>
                <h3 id="deepMajorScoreFraction">{{user.deep_major_points}}/15</h3>
            </div>

            <div class="cultureScoreWrap">
                <h3>교양</h3>
                <div class="cultureScoreGraphWrap" onclick="location.href='{% url 'scoreGraphDetail' %}'">
                    <div class="cultureScoreGraph"></div>
                </div>
                <h3 id="cultureScoreFraction">{{user.culture_points}}/33</h3>
            </div>

            <div class="basicCultureScoreWrap">
                <h3>*기초교양</h3>
                <div class="basicCultureScoreGraphWrap" onclick="location.href='{% url 'scoreGraphDetail' %}'">
                    <div class="basicCultureScoreGraph"></div>
                </div>
                <h3 id="basicCultureScoreFraction">8/9(3/4)</h3>
            </div>

            <div class="balanceCultureScoreWrap">
                <h3>*균형교양</h3>
                <div class="balanceCultureScoreGraphWrap">
                    <div class="balanceCultureScoreGraph"></div>
                </div>
                <h3 id="balanceCultureScoreFraction">{{core.sort}}</h3>
            </div>

            <div class="essentialCultureScoreWrap">
                <h3>*필수교양</h3>
                <div class="essentialCultureScoreGraphWrap">
                    <div class="essentialCultureScoreGraph"></div>
                </div>
                <h3 id="essentialCultureScoreFraction">{{user.essential_culture_points}}(융복합+다양성)/2</h3>
            </div>
        </div>
        <div class="informText">
            <p>* 자신이 수강한 학점의 상세정보를 보고 싶으시다면 그래프를 클릭해주세요.<br>(필수교양, 균형교양 제외)</p>
        </div>
    </div>




    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html> 