{% load static %}
<div class="myheader">
    <img id="devlant_img" src="{% static 'img/devlant.png' %}" alt="" >

    <div class="mainImg">
        <a href="{% url 'home' %}"><img id="mainImg" src="{% static 'img/gradusmu.png' %}" /></a>
    </div>
</div>

    
{% if user.is_authenticated %}
    <div class="logoutBtn">
        <button type="button" class="loginBtn"  onclick = "location.href = '{%url 'logout' %}'">LOGOUT</button>
    </div>
{% else %}
    <div class="box"></div>
{% endif %}
    
<div class="line"></div>

<style>
  #devlant_img {
        float: left;
    }

    .box {
        width : 100%;
        height: 15px;
    }

    .myheader {
        width:100%;
        height: 8vh;
    }

    .mainImg {
        position: relative;
        text-align: center;
    }

    #mainImg {
        margin-top: 30px;
        height: 3vh;
    } 

    .line {
        width: 100%;
        height: 2px;
        background-color: gray;
    }

    .logoutBtn{
        width: 96%;
        display: flex;
        justify-content: flex-end;
        margin-top:-10px;
        margin-bottom: 10px;
    }

    .logoutBtn button{
        border-radius: 10px;
        border: 0;
        background-color: #5B4FE9;
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        width: 90px;
        height: 28px;
        cursor: pointer;
    }

</style>